<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 {{>header}}
</head>
<body>
    {{>navbar}}

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            <div class="col-md-6 col-12 main_header_right">
                <figure>
                    <img src="images/shadow.png" alt="About Image" class="img-fluid" title="faizan mansoori">
                </figure>
               </div>


            <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to About me Page</p>
              <h1>I am a <span>Software Developer</span> learning MERN.</h1>
              <a href="/weather" target="_blank"><button>About me</button></a>
            </div>

          
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>Created with ❤ by Faizan </p>
    </footer>
</body>
</html>